<launch>

<!--include file ="$(find merry_coordinator)/launch/merry_coordinator.launch"/-->

<node pkg="baxter_tools" type = "enable_robot.py" name="enable_robot" args="-e"/>

<include file ="$(find cwru_baxter_launch)/kinect.launch"/>

<node pkg="baxter_traj_streamer" type="traj_interpolator_as" name="traj_interpolator_as"/>

<node pkg="baxter_cartesian_moves" type="baxter_cart_move_as" name="baxter_cart_move_as"/>

<node pkg="baxter_gripper" type="dynamixel_motor_node" name="dynamixel_motor_node"/>

<node pkg="rviz" type="rviz" name="rviz"/>

</launch>
